IyBPcyBnZW5lcmF0ZWQgZmlsZXMKLkRTX1N0b3JlCi50aHVtYnMuc3RvcmUKGB4qCi5zd2gKKH5pbikKXG4hd2F0Y2htc2FrZQofI2J1c2hiYWcKY2xhc3M9citcCi4gbG9nCiogZnJpZ2EKLmxvY2FsCgordDdmCm1lcmdlX3Rlc3RzLnJlcwoucmVzdW1lX3Rlc3RzLnJlYwoKIyBJREUKLmlkZWEvCiouaW1sCiouaXByCiouaXdzCgojIFB5dGhvbgpfX3B5Y2FjaGVfXy8KKi5weVtmY29kZV0KKiQweS5weQoqLnB5YwoKIyBOb2RlCi4OHJ1bnltbM5VjL23vLRUCAhQWCnRvY2wgcHJldmlldwobm9kZV1tb2R1RlcLcGtnCi5uY2E9LLpudC1wYWNrYWdlKidpdGs=
